@media screen and (max-width: 1192px) {
    .page1 .sect2 {
        width: 48%;
    }

}

@media screen and (max-width: 1040px) {
    .page1 .sect1 h1 {
        font-size: 40px;
    }

    .page1 .sect1 h1:nth-child(1),
    .page1 .sect1 h1:nth-child(2) {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 950px) {
    .page3 .sec1 {
        flex-direction: column;
    }

    .page3 .sec1 .box1{
        width: 100%;
        margin: 1rem;
        height: 370px;
    }
   
    
}

@media screen and (max-width: 860px) {
    nav ul li a {
        margin-right: 20px;
    }

    header .logo h1,
    header .logo .icon i {
        font-size: 26px;
    }

}


@media screen and (max-width:760px) {

    header {
        padding-left: 15px;
        padding-right: 15px;
    }

    #menu {
        display: block;
    }

    nav ul {
        display: none;
    }

    .logo {
        font-size: 13px;
    }

    header .logo .icon i {
        font-size: 20px;
    }

    nav ul {
        flex-direction: column;
    }

    .page1 {
        width: unset;
        height: unset;
        flex-direction: column-reverse;
        padding: 2rem 0;

    }


    .page1 .sect1 {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .page1 .sect1 h1:nth-child(1) {
        margin-bottom: 0.25rem;
    }

    .page1 .sect2 {
        width: 100%;
        position: unset;
        margin: auto;


    }

    section .page2 {
        padding: 6rem 15px;
    }

    .ani h1 {
        position: unset;
    }

    .page3 {
        padding: 1rem;
    }

    section .page2 {
        flex-direction: column;
        height: unset;
    }

    section .page2 .sec1 {
        width: unset;
        height: unset;
    }

    section .page2 .sec2 {
        width: unset;
    }

    .page3 .sec1 {
        flex-direction: column;
    }

    .page3 .sec1 .box1 {
        width: unset;
        height: unset;
        margin: 0;
    }

    footer .sec1 {
        flex-direction: column;
    }

   
    footer {
        height: unset;
    }

    .page3 .sec1 #box1 {
        width: 304px;
        margin: 1rem 0;
    }


    .page3 .btn1 {
        width: 56%;
        margin: auto;
    }

    footer .sec1 .icon5 {

        font-size: 13px;
        margin-bottom: 1rem;
    }

    .footer .sec1 .icon5 i {
        font-size: 20px;

    }

    .icon6 i {
        font-size: 20px;
    }

    .page3 .sec1 .box1 {
        width: 100%;
        margin: 1rem;
        height: 370px;
    }

    .page3 .sec1 #box1 {
        width: 100%;
    }

    .page3 h1 {
        font-size: 40px;
    }
}

@media all and (max-width: 570px) {}